<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Consultas</title>
    <link rel="stylesheet" href="/styles/listarConsultas.css">
</head>
<body>
    <div id="sidebar">
        <h2>Consultas</h2>
        <ul id="consultasList"></ul>
    </div>
    <div id="main">
        <h2 id="consultaTitulo">Detalhes da Consulta</h2>
        <div id="parametrosList"></div>
        <a id="consultaLink" href="#" target="_blank">Executar Consulta</a>
        <div id="resultadoJson"></div>
    </div>

    <script src="/scripts/listarConsultas.js"></script>
</body>
</html>
